.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  column-gap: 22px;
  padding: 34px 5%;
  margin: 0 auto;
}

.header__logo {
  max-width: 100%;
  height: auto;
}

.header__paragraph {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1vw;
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 20px;
    margin: auto;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 15px;
    margin: auto;
  }
  .header__logo {
    width: 10%;
  }
  .header__paragraph {
    width: 60%;
    font-size: 3vw;
  }
}
