* {
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #2a2c2f;
  position: relative;
  background-repeat: no-repeat;
  color: #fff;
}

.page {
  width: 100%;
  max-width: 1280px;
  min-width: 320px;
  margin: auto;
}
