.places-content {
  width: 100%;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
}
.places {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 92px;
  grid-template-rows: auto auto 1fr;
  grid-gap: 48px 40px;
  align-items: start;
}
.places-info {
  padding: 0;
}

.places-title {
  line-height: 1;
  font-weight: bold;
  font-size: 4vw;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.places-title-span {
  display: block;
}

.places-artistas-text {
  padding: 0;
}

.places-text {
  list-style: normal;
  line-height: 1;
  font-size: 1.5vw;
}
.places-artistas-title {
  line-height: 1;
  font-weight: normal;
  font-size: 0.7vw;
  color: #aaa;
}

.places-artistas-span {
  /* display: block; */
}

.places img {
  cursor: pointer;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  margin: 0;
  box-shadow: 10px 10px 25px 0 rgba(0, 0, 0, 0.5);
}
.places img:hover {
  opacity: 0.5;
}

.places-button {
  border: none;
  color: #fff;
  background: linear-gradient(#0278fe, #003a7b);
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 025);
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 6px;
  width: 100%;
  max-width: 250px;
  height: 50px;
}
.places-button:hover:enabled {
  background: linear-gradient(90deg, #1a3d6e, #0f2747);
}

.places-imagen-zocalo {
  height: auto;
  width: 100%;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 1024px) and (max-width: 780px) {
  .places {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "titulo astista"
      "imagen texto"
      "boton texto";
    grid-template-rows: auto auto 1fr;
    grid-gap: 48px 40px;
    align-items: start;
  }
  .places-info {
    margin: 0;
    padding-left: 28px;
    padding: 0;
    grid-area: texto;
  }
  .places-title {
    grid-area: titulo;
    font-size: 4vw;
  }
  .places-title-span {
    display: inline;
  }
  .places-artistas-place {
    grid-area: artista;
  }
  .places img {
    width: 100%;
    padding: 0;
    margin: 0;
    grid-area: imagen;
  }
  .places-artistas-text {
    padding: 0;
    padding: 0 5%;
    font-size: 2vw;
  }
  .places-artistas-title {
    font-size: 1.5vw;
  }
  .places-text {
    font-size: 2vw;
    margin: 0;
    column-gap: 0;
    text-align: left;
    line-height: 1.5;
    padding: 0;
  }
  .places-button {
    width: 100%;
    max-width: 100%;
    margin-top: 24px;
    grid-area: boton;
  }
  .places-imagen-zocalo {
    width: 100%;
    height: auto;
    grid-area: imagen;
  }
}

@media screen and (max-width: 480px) {
  .places {
    margin-left: 5%;
    grid-template-columns: 1fr;
    align-items: center;
    grid-template-areas:
      "titulo"
      "artista"
      "imagen"
      "texto"
      "boton";
  }
  .places-title {
    grid-area: titulo;
    font-size: 6vw;
    margin: auto;
  }
  .places-artistas-title {
    font-size: 2.5vw;
  }
  .places-info {
    display: grid;
    gap: 25px;
  }

  .places-text {
    font-size: 4vw;
    line-height: 1.5;
  }
  .places-button {
    margin: 0 auto 0;
    grid-area: boton;
    max-width: 100%;
    height: 30px;
    font-size: 0.9rem;
  }
  .places img {
    grid-area: imagen;
    border-radius: 4px;
  }
  .places-artistas-place {
    grid-area: artista;
  }
}
