.principal__content {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.principal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.principal__title {
  line-height: 1;
  font-weight: bold;
  font-size: 6vw;
  font-style: normal;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 32px;
  /* padding-top: 30%; */
  margin: 0;
}

.principal__subtitle {
  font-size: 3vw;
  line-height: 1;
  font-style: normal;
  font-weight: normal;
  padding-bottom: 64px;
}

.principal__paisaje {
  max-width: 100%;

  /* max-width: 984px; */
  height: auto;
  padding-bottom: 72px;
}

.principal__text {
  margin: 0;
  padding: 0 5%;
}

.principal__text-title {
  font-size: 4vw;
  line-height: 1;
  font-style: normal;
  font-weight: bold;
}

.principal__paragraph {
  font-size: 2vw;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
}

.principal__name {
  font-size: 2vw;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  display: flex;
  justify-content: end;
}

.principal__description {
  font-size: 1vw;
  font-weight: normal;
  line-height: 1;
  padding-bottom: 92px;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .principal__text {
    font-size: 4vw;
    padding: 0 15%;
  }
  .principal__paisaje {
    width: 70%;
  }
  .principal__name {
    font-size: 1vw;
  }
  .principal__description {
    font-size: 2vw;
  }
}

@media screen and (max-width: 320px) {
  .principal__text {
    padding: 0 2%;
  }
  .principal__paragraph {
    font-size: 4vw;
  }
  .principal__name {
    font-size: 3vw;
  }
}
